/* Importation de la police de caractères depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilisation de la police Poppins comme police par défaut */
body {
    font-family: 'Poppins', sans-serif;
    display:flex-end;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 81px;
}

/* Styles généraux pour le corps de la page */
body {
    background-color: rgb(65, 34, 77); /* Couleur d'arrière-plan */
    color: white; /* Couleur du texte */
}

/* Styles pour l'en-tête de la page */
.header {
    position: fixed; /* Position fixe pour rester en haut de la page */
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%; /* Espacement interne */
    background-color: rgb(65, 34, 77); /* Couleur d'arrière-plan */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4; /* Empilement en avant */
}

/* Styles pour le logo */
.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.navbar{
    margin-left: auto;
}
/* Styles pour les liens de navigation */
.navbar a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s; /* Transition fluide lors du survol */
}

.navbar a:hover {
    color: rgb(195,204,173); /* Changement de couleur au survol */
}

.language-selector {
    position: relative;
    display: inline-block;
    margin-left: auto;
  }
  
  .button {
    background-color: rgb(195,204,173);
    color: rgb(65, 34, 77);
    padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  }
  
  
  .dropdown-content {
    display: none;
    font-size: 13px;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgb(65, 34, 77);
    border: 2px solid rgb(195,204,173);
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
  }
  
  .dropdown-content a {
    color: rgb(195,204,173);
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(195,204,173);
    color: rgb(65, 34, 77);
  }
  
  .dropdown-content a:focus {
    background-color: rgb(65, 34, 77);
    color: rgb(195,204,173);
  }
  
  .dropdown-content #french:hover {
    border-radius: 0px;
  }
  
  .dropdown-content #spanish:hover {
    border-radius: 0px 0px 13px 13px;
  }
  
  .language-selector:hover button {
    border-radius: 15px 15px 0px 0px;
  }
  
  .language-selector:hover .dropdown-content {
    display: block;
  }

  
/* Styles pour la section "À propos" */
.moi {
    height: 75vh;
    display: flex;
    align-items: flex-end;
    padding: 0 10%;
    margin-bottom: 20vh; /* Ajouter une marge en bas */
}

.apropos {
    max-width: 600px; /* Largeur maximale de la section */
}

h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.apropos h3 {
    font-size: 30px;
    font-weight: 700;
    color: rgb(195,204,173); /* Couleur spécifique */
}

.apropos p {
    font-size: 20px;
    margin: 20px 0 40px;
}

/* Styles pour la boîte du bouton */
.apropos .btn-box {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 60px;
}

/* Styles pour le bouton de téléchargement */
.btn-box a {
    position: relative;
    display: inline-flex;
    width: 300px;
    height: 100%;
    background-color: rgb(195,204,173);
    border: 2px solid rgb(195,204,173);
    border-radius: 8px;
    font-size: 19px;
    color: rgb(65, 34, 77);
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: .5s; /* Transition fluide au survol */
}

/* Pseudo-élément pour l'effet de dégradé au survol */
.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(65, 34, 77);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover {
    color: rgb(195,204,173); /* Changement de couleur au survol */
}

.btn-box a:hover::before {
    width: 100%; /* Extension complète au survol */
}

/* Styles pour l'image */
.photo {
    border-radius: 50%;
    border: 5px solid rgb(132,95,230);
    position: relative;
    left: 30%; /* Collé au bord droit de l'écran */
    transform: translateY(-50%); /* Décalage de moitié de la hauteur de l'image vers le haut pour la centrer verticalement */
    margin-right: 250px; /* Marge à droite pour l'éloigner du bord */
    margin-top:auto;
}

.portfolio {
    padding: 0 10%;
    margin-bottom: 30vh; /* Ajouter une marge en bas */
    justify-content: center;
}

.titreport {
    height: 10vh;
    display: flex;
    align-items: left;
    text-align: left;
}
.btn{
    position:initial ;
}
.btn a {
    display: inline-flex;
    width: 250px;
    height: 100px;
    font-size: 25px;
    background-color: rgb(195,204,173);
    border: 2px solid rgb(195,204,173);
    border-radius: 8px;
    color: rgb(65, 34, 77);
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    left: 13%;
    margin-right: 40px; /* Ajout de marges à droite pour créer un espacement */
    transition: .5s; /* Transition fluide au survol */
    margin-bottom: 20px;
}

/* Pseudo-élément pour l'effet de dégradé au survol */
.btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(65, 34, 77);
    z-index: -1;
    transition: .5s;
}

.btn a:hover {
    color: rgb(195,204,173); /* Changement de couleur au survol */
}

.btn a:hover::before {
    width: 100%; /* Extension complète au survol */
}


.popup{
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    z-index: 100;
}

.popup-content{
    width: 450px;
    height: 600px;
    color:rgb(195,204,173);
    background: rgb(65, 34, 77);
    margin: 100px auto;
    position: relative;
    border: 5px solid rgb(195,204,173);
    border-radius: 8px;
    display: flex;            
    flex-direction: column;
    align-items: center;  /* Centre les éléments horizontalement */
    padding-top: 10px;    /* Contrôle l'espace par rapport au haut */
    gap: 10px;            /* Ajoute un espace entre les éléments */
    z-index:100;
}

#cartomagic .popup-content
{
    width:490px;
    height:670px;
}
#diaporama .popup-content{
    width: 500px;
    height:700px;
}
.popup:target{
    display: block;
}
.popup:target:focus:not(:focus-visible) {
    display: none;
  }
.titreProj{
    text-align: center;
    top: 5px;
}



.popup .img{
    max-width: 80%;  
    border: 2px solid rgb(195,204,173);
    border-radius: 8px;
}

.download-btn {
    display: inline-block;
    background-color: rgb(65, 34, 77);
    color: rgb(195, 204, 173);
    padding: 10px 15px; 
    border-radius: 8px; 
    border: 2px solid rgb(195, 204, 173); 
    text-decoration: none; 
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: rgb(85, 44, 97);
}

.download-btn i {
    margin-right: 5px;
}

.descrProj{
    text-align: center;
}
.separator {
    width: 100px;
    border: none; 
    height: 2px; 
    background-color: rgb(195, 204, 173); 
    margin: 5px 0; 
    border-radius: 8px;
}



.etiquettes-container {
    display: flex;
    gap: 10px;
}

.etiquette {
    background-color: rgb(195, 204, 173);
    color: rgb(65, 34, 77);
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid rgb(195, 204, 173);
    font-size: 14px;
    font-weight: 200;
}

.close{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    cursor: pointer;
    color: rgb(195,204,173);
    text-decoration: none;
    line-height: 0;
    padding: 9px 0 11px;
    width: 20px;
    text-align: center;
}


.parcours {
    display: flex;
    flex-direction: column; 
    align-items: left;
    padding: 0 10%;
    margin-bottom: 20vh;
}

.parcours h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: left;
}

.parcours .img {
    border: none;
    border-radius: 0;
    width: auto;
    height: auto;
    max-width: 75%;
    margin: 0 auto;
    display: block;
}


footer {
    margin-bottom: 5vh;
    text-align: center;
}

footer h3 {
    font-size: 30px;
    font-weight: 700;
    color: rgb(195,204,173); /* Couleur spécifique */
    padding: 0 10%;
    text-decoration: dotted overline rgb(195,204,173);
    color: rgb(217, 217, 217);
}

.reseaux .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: rgb(65, 34, 77);
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.reseaux .social-button:hover, .reseaux .social-button:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.reseaux .fa-linkedin, .fa-instagram, .fa-envelope, .fa-phone {
    font-size: 25px;
}

.reseaux .social-button.linkedin {
    background: rgb(195,204,173);
}

.reseaux .social-button.linkedin:hover {
    color: rgb(195,204,173);
    background: rgb(65, 34, 77);
    border-color: rgb(195,204,173);
}

.reseaux .social-button.instagram {
    background: rgb(195,204,173);
}

.reseaux .social-button.instagram:hover {
    color: rgb(195,204,173);
    background: rgb(65, 34, 77);
    border-color: rgb(195,204,173);
}

.reseaux .social-button.mail {
    background: rgb(195,204,173);
}

.reseaux .social-button.mail:hover {
    color: rgb(195,204,173);
    background: rgb(65, 34, 77);
    border-color: rgb(195,204,173);
}

.reseaux .social-button.phone {
    background: rgb(195,204,173);
}

.reseaux .social-button.phone:hover {
    color: rgb(195,204,173);
    background: rgb(65, 34, 77);
    border-color: rgb(195,204,173);
}




/* Styles pour les écrans de taille moyenne (tablettes) */
@media (min-width: 769px) and (max-width: 1024px) {
    .header {
        padding: 15px 5%;
    }

    .logo {
        font-size: 24px;
    }

    .navbar a {
        font-size: 18px;
        margin-left: 20px;
    }

    .moi {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        margin-bottom: 15vh;
        margin-top: 15vh;
    }

    .apropos {
        max-width: 80%;
        margin-bottom: 20px;
        margin-top: 50%;
    }

    .photo {
        width: 60%;
        height: auto;
        margin: 20px 0;
        position: static;
        transform: none;
        margin-right: 0;
    }

    .btn-box {
        width: 100%;
        justify-content: center;
    }

    .btn-box a {
        width: 70%;
    }

    .portfolio .btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn a {
        width: 70%;
        margin: 10px 0;
    }

    .description {
        padding: 0 5%;
        text-align: center; /* Centrer le texte */
    }

    .description h3, .description p {
        font-size: 22px; /* Augmenter la taille de la police */
    }
}

/* Styles pour les téléphones */
@media (max-width: 768px) {
    .header{
        position: static; /* Navbar stays at the top on mobile */
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 5%;
        background-color: rgb(65, 34, 77); /* Ensure background is consistent */
    }
    .navbar {
        position: static;
        padding: 10px 5%;
        font-size: 10px;
        align-items: center; /* Centrer horizontalement */
    }

    .logo {
        font-size: 20px;
    }

    .navbar a {
 /* Empiler les liens verticalement */
        flex-direction: column;
        font-size: 14px;
        margin-left: 5px;
    }

    .moi {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        margin-bottom: 8vh;
    }

    h1 {
        font-size: 30px;
    }

    .apropos {
        max-width: 95%;
        margin-bottom: 15px;
    }
    
    .apropos .btn-box {
        display: flex;
        justify-content: center;
        align-items: center; /* Centrer verticalement */
        width: 100%; /* Utiliser la largeur maximale */
        height: 60px;
    }
    .photo {
        width: 90%;
        height: auto;
        margin: 10px 0;
        position: static;
        transform: none;
        margin-right: 0;
    }

    .btn-box a {
        width: 80%; /* Utiliser la largeur maximale */
        max-width: 200px; /* Réduire encore la largeur maximale du bouton */
    }

    .portfolio {
        justify-content: center;
    }

   .portfolio .btn{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
    .portfolio .btn a {
        width: 70%;
        margin: 5px 0;
    }
    
    .titreport {
        margin-top: 10vh;
        height: 8vh;
        flex-direction: column; /* Afficher le titre et le rapport en colonne */
        align-items: center; /* Centrer les éléments horizontalement */
        text-align: center; /* Centrer le texte */
    }
    
}
